.form {
  width: 410px;
  height: 84px;
  background-color: rgb(219, 210, 210);
  position: fixed;
  left: 519px;
  border-radius: 5px;
}
.input {
  width: 250px;
  height: 45px;
  margin: 15px;
  font-size: 20px;
}
.add {
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  height: 45px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: aqua;
  bottom: 1px;
  position: relative;
}
.tasks {
  background-color: rgb(219, 210, 210);
  border-radius: 5px;
  width: 370px;
  height: 70px;
  left: 540px;
  position: fixed;
  top: 130px;
}
